In [1]:
#import required libraries
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("C:/Users/Sudeeksha/Desktop/premises-list-as-at-8-february-2021.csv",encoding ='ISO-8859-1')

C:\Users\Sudeeksha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#to check the number of rows and columns
df.shape

(18747, 32)

In [4]:
#display first 5 observation
df.head()

,Licence number,Licence type,Status,Start date,Trading Status,Licence name,Address,Suburb,Postcode,Latitude,...,After3am,After5am,SA2,Band,GMEs,PMPs,Auth limit,Unfulfilled Quota,GMT,EGMs
0,LIQC300200019,Liquor - club licence,Current,29-05-1981,Trading,Charlestown Golf Club Ltd,1A Barker Ave,HILLSBOROUGH,2290.0,-32.963633,...,Yes,Yes,Glendale - Cardiff - Hillsborough,2,11,0,11,0,11,11
1,LIQC300200035,Liquor - club licence,Current,21-08-1981,Trading,Barooga Sports Club Ltd,12 Burkinshaw St,BAROOGA,3644.0,-35.906450,...,Yes,Yes,Tocumwal - Finley - Jerilderie,3,174,0,174,0,174,174
2,LIQC300200078,Liquor - club licence,Current,03-12-1981,Trading,Maclean-Lower Clarence Services Club Ltd,36-38 River St,MACLEAN,2463.0,-29.457323,...,Yes,Yes,Maclean - Yamba - Iluka,3,34,0,34,0,34,0
3,LIQC300200086,Liquor - club licence,Current,23-12-1981,Trading,Sporties Tuncurry,Beach St,TUNCURRY,2428.0,-32.166317,...,Yes,Yes,Tuncurry,3,46,0,46,0,46,46
4,LIQC300200094,Liquor - club licence,Current,15-03-1982,Trading,Canley Heights R S L & Sporting Club Ltd,26 Humphries Rd,WAKELEY,2176.0,-33.878875,...,Yes,Yes,St Johns Park - Wakeley,3,150,0,150,0,150,150

In [5]:
# display last 5 observation
df.tail()

,Licence number,Licence type,Status,Start date,Trading Status,Licence name,Address,Suburb,Postcode,Latitude,...,After3am,After5am,SA2,Band,GMEs,PMPs,Auth limit,Unfulfilled Quota,GMT,EGMs
18742,LIQW880015366,Liquor - producer wholesaler licence,Current,29-01-2021,Trading,Bay Botanica,UNIT 4 6 LEIGHTON PL,HORNSBY,2077.0,-33.697604,...,No,No,NaN,0,0,0,0,0,0,0
18743,LIQW880015367,Liquor - producer wholesaler licence,Current,29-01-2021,Trading,Three Tails,13A LEWIS ST,MUDGEE,2850.0,-32.592727,...,No,No,NaN,0,0,0,0,0,0,0
18744,LIQW880015368,Liquor - producer wholesaler licence,Current,01-02-2021,Trading,Noble Craft Distillery,271 Powder Works Road,INGLESIDE,2101.0,-33.687927,...,No,No,NaN,0,0,0,0,0,0,0
18745,LIQW880015369,Liquor - producer wholesaler licence,Current,04-02-2021,Trading,Malt Man Brewing Pty Ltd,160 PRINCES HWY,BODALLA,2545.0,-36.097058,...,No,No,NaN,0,0,0,0,0,0,0
18746,LIQW880015370,Liquor - producer wholesaler licence,Current,04-02-2021,Trading,Gooroo Brewing,68 old gosford rd,WAMBERAL,2260.0,-33.425687,...,No,No,NaN,0,0,0,0,0,0,0

In [6]:
#remove the rows with na for all columns
df=df.dropna(how='all')

In [7]:
#check the no of rows again
df.shape

(18747, 32)

In [8]:
#check for duplicate rows
duplicate =df[df.duplicated()]
print(duplicate)

Empty DataFrame
Columns: [Licence number, Licence type, Status, Start date, Trading Status, Licence name, Address, Suburb, Postcode, Latitude, Longitude, LGA, Precinct, Licensee, Business type, Authorisation restriction name, Extended trading, Reduced trading, Primary service, Right to keep gaming, Unrestricted, After12am, After3am, After5am, SA2, Band, GMEs, PMPs, Auth limit, Unfulfilled Quota, GMT, EGMs]
Index: []

[0 rows x 32 columns]

In [9]:
# check each data type of columns and non missing values count
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18747 entries, 0 to 18746
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Licence number                  18747 non-null  object
 1   Licence type                    18747 non-null  object
 2   Status                          18747 non-null  object
 3   Start date                      18747 non-null  object
 4   Trading Status                  18747 non-null  object
 5   Licence name                    18747 non-null  object
 6   Address                         18595 non-null  object
 7   Suburb                          18595 non-null  object
 8   Postcode                        18594 non-null  float64
 9   Latitude                        18458 non-null  float64
 10  Longitude                       18456 non-null  object
 11  LGA                             18595 non-null  object
 12  Precinct                        1253 non-null   object
 13  Licensee                        18745 non-null  object
 14  Business type                   15521 non-null  object
 15  Authorisation restriction name  12635 non-null  object
 16  Extended trading                18747 non-null  object
 17  Reduced trading                 18747 non-null  object
 18  Primary service                 18747 non-null  object
 19  Right to keep gaming            18747 non-null  object
 20  Unrestricted                    18747 non-null  object
 21  After12am                       18747 non-null  object
 22  After3am                        18747 non-null  object
 23  After5am                        18747 non-null  object
 24  SA2                             3305 non-null   object
 25  Band                            18747 non-null  int64
 26  GMEs                            18747 non-null  int64
 27  PMPs                            18747 non-null  int64
 28  Auth limit                      18747 non-null  int64
 29  Unfulfilled Quota               18747 non-null  int64
 30  GMT                             18747 non-null  int64
 31  EGMs                            18747 non-null  int64
dtypes: float64(2), int64(7), object(23)
memory usage: 4.7+ MB

In [10]:
#get the count of missing values per column
df.isna().sum()

Licence number                        0
Licence type                          0
Status                                0
Start date                            0
Trading Status                        0
Licence name                          0
Address                             152
Suburb                              152
Postcode                            153
Latitude                            289
Longitude                           291
LGA                                 152
Precinct                          17494
Licensee                              2
Business type                      3226
Authorisation restriction name     6112
Extended trading                      0
Reduced trading                       0
Primary service                       0
Right to keep gaming                  0
Unrestricted                          0
After12am                             0
After3am                              0
After5am                              0
SA2                               15442
Band                                  0
GMEs                                  0
PMPs                                  0
Auth limit                            0
Unfulfilled Quota                     0
GMT                                   0
EGMs                                  0
dtype: int64

In [11]:
#remove columns with >= 30 missing data
df2=df[[column for column in df if df[column].count()/len(df)>=0.30]]

print("List of dropped columns:",end=" ")
for c in df.columns:
    if c not in df2.columns:
        print(c,end="\n ")
print('\n')
df=df2

List of dropped columns: Precinct
 SA2

In [12]:
df.shape

(18747, 30)

In [13]:
df =df.astype(dtype ={'Address':str})

In [14]:
#extract street from address
def street(s):
    return re.findall('(?s:.*)\d.*?\s+(.+)',s)

In [15]:
df['street'] =df['Address'].apply(street)
df['street'] = df['street'].str[0]

In [16]:
df.fillna("nan",inplace =True)

In [17]:
def Streetfinal(df):
    if df['street'] != 'nan':
        res = df['street']
    else:
        res = df['Address']
    return res

In [18]:
df['street'] =df.apply(Streetfinal,axis =1).apply(str.upper).str.strip()
df['len'] =df['street'].str.len()

In [19]:
df_len = df.loc[df['len']>10]

In [20]:
#most common street name that has length more than 10
df_len['street'].value_counts().idxmax()

'PACIFIC HWY'

In [21]:
df['year'] = pd.DatetimeIndex(df['Start date']).year
df['month'] =pd.DatetimeIndex(df['Start date']).month

In [22]:
df_count = df.groupby(['year','month']).size().to_frame('count').reset_index()

In [23]:
df =df[['year','month']].groupby(['year','month'])['month']\
                            .count()\
                            .reset_index(name ='count')\
                            .sort_values(['count'],ascending =False)

In [24]:
df_count.sort_values('count',ascending =False).reset_index(inplace=True)

In [25]:
print(df.reset_index())

      index  year  month  count
0      1020  2020     12    139
1       980  2017      8    129
2       995  2018     11    107
3       972  2016     12    106
4       976  2017      4    103
...     ...   ...    ...    ...
1026     90  1940      8      1
1027     91  1940     10      1
1028     92  1940     11      1
1029     93  1940     12      1
1030      0  1905      6      1

[1031 rows x 4 columns]

In [26]:
#second highest month of year
df.iloc[[1]]

     year  month  count
980  2017      8    129

In [27]:
df=df.groupby(['year']).size().to_frame('count').reset_index()

In [28]:
df['pct'] =df.groupby(['year'])['count'].apply(lambda x:x).pct_change()

In [29]:
#largest yoy increase
df =df.groupby(['year']).size().to_frame('count').reset_index()

In [30]:
print(df.iloc[[6]])

   year  count
6  1923      1